* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', 'Raleway', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 30px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    width: 80%;
    margin: 60px  auto 0 auto;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    font-weight: 600;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    background-color: #4887BD;
    align-items: center;
}

#logoSmall {
    width: 40px;
    padding: 3px 0 0 20px;
}

#menu {
    float: right;
    width: 30px;
    padding-right: 20px;
}

#burgerLinks {
    display: none;
    flex-direction: column;
    background-color: rgb(92, 92, 92);
}

#active {
    background-color: #29498A;
}

#burgerLinks>a {
    display: block;
    text-align: center;
    padding: 20px 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4887BD;
    height: 100px;
    color: white;
    margin-top: 50px;
}

#logoBig {
    display: none;
}

/* Index */

#indexImg {
    width: 100%;
    margin-bottom: 40px;
}

.copy p, .copyEx p  {
    width: 80%;
    margin: 10px auto;
}

.mobileImg {
    display: block;
    width: 80%;
    margin: 20px auto;
}

.headerNav {
    display: none;
}

.exSpaces {
    display: none;
}

@media (min-width: 550px) {

    #menu {
        display: none;
    }

    header {
        display: flex;
        background-color: #4887BD;
        align-items: inherit;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        
    }

    #logoSmall {
        padding: 12px 0 0 0;
    }

    .headerNav {
        display: block;
        padding: 20px 20px;
    }

    .headerNav:hover {
        background-color: #386892;
    }

    #indexImg {
        display: none;
    }

    #logoBig {
        display: block;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }

    .copy>p {
        width: 80%;
        margin: 20px auto;
    }
    
    .button {
        font-size: 20px;
        color: white;
        background-color: #70BDDA;
        width: 150px;
        height: 20px;
        margin: 10px 0;
        padding: 10px 10px 15px 10px;
        border-radius: 4px;
        text-align: center;
    }

    .exSpaces {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 50px 0 0 0;
        height: 600px;
        background-color: #F3F3F3;
        text-align: center;
    }

    #indexFig {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

    figure img{
        width: 200px;
    }

    figure {
        margin: 20px;
    }

    h1 {
        margin: 50px 0 0 0;
    }

    h2 {
        width: 80%;
        margin: 30px auto;
    }

    footer {
        margin-top: 0px;
    }

    .copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }

    .mobileImg {
        max-width: 600px;
        margin: 20px 0;
    }

    .exhibition {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 50px 0;
        align-items: center;
    }
    
    .copyEx {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .exhibition p {
        margin: 0px;
        max-width: 600px;
    }

    .exhibition h2 {
        margin: 30px 0;
        max-width: 600px;
    }
}

@media (min-width: 1400px) {

    .exhibition h2 {
        max-width: 400px;
    }

    figure img {
        width: 250px;
    }

    .exhibition {
        display: inline-block;
        height: 500px;
    }

    .mobileImg {
        float: right;
        margin: 0 0 0 50px;
    }
}

@media (max-width: 640px){

    .exSpaces {
        display: none;
    }
}