* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', 'Raleway', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 30px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    width: 80%;
    margin: 60px  auto 0 auto;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    font-weight: 600;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    background-color: #4887BD;
    align-items: center;
}

#logoSmall {
    padding: 3px 0 0 20px;
}

#menu {
    float: right;
    padding-right: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4887BD;
    height: 100px;
    color: white;
    margin-top: 50px;
}

/* Index */

#indexImg {
    width: 100vw;
    margin-bottom: 40px;
}

.copy p {
    width: 80%;
    margin: 10px auto;
}

.indexButtons {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

.button {
    font-size: 20px;
    color: white;
    background-color: #70BDDA;
    width: 150px;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 4px;
}

.mobileImg {
    display: block;
    width: 80%;
    margin: 20px auto;
}

