@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', 'Raleway', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 30px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    width: 80%;
    margin: 60px  auto 0 auto;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    font-weight: 600;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    background-color: #4887BD;
    align-items: center;
}

#logoSmall {
    width: 40px;
    padding: 3px 0 0 20px;
}

#menu {
    float: right;
    width: 30px;
    padding-right: 20px;
}

#burgerLinks {
    display: none;
    flex-direction: column;
    background-color: rgb(92, 92, 92);
}

#active, #activeDesktop {
    background-color: #29498A;
}

#burgerLinks>a {
    display: block;
    text-align: center;
    padding: 20px 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4887BD;
    height: 100px;
    color: white;
    margin-top: 50px;
}

.mobileHero {
    display: flex;
    height: 800px;
    width: 100%;
    
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

.mobileLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    position: absolute;
    justify-content: space-evenly;
    overflow: hidden;
}

.mobileLogo h1, h2 {
    margin: 10px 0;
}

#whiteLogo {
    width: 220px;
    height: 200px;
    margin: 30px 0;
}

#whitearrow {
    width: 40px;
}

.mobileBg {
    background-image: url(../img/mobileBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    opacity: .9;
    position: relative;
    z-index: -1;
}

.copy p, .copyEx p  {
    width: 80%;
    margin: 10px auto;
}

.mobileImg {
    display: block;
    width: 80%;
    margin: 20px auto;
}

.headerNav {
    display: none;
}

.exSpaces {
    display: none;
}

.hero {
    display: none;
}

@media (min-width: 810px) {

    #menu, .mobileHero {
        display: none;
    }

    header {
        display: flex;
        background-color: #4887BD;
        align-items: inherit;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        
    }

    #logoSmall {
        padding: 12px 0 0 0;
    }

    .headerNav {
        display: block;
        padding: 20px 20px;
    }

    .headerNav:hover {
        background-color: #386892;
    }

    #indexImg {
        display: none;
    }

    .hero {
        display: flex;
        height: 900px;
        width: 100%;
        text-align: center;
    }

    .heroBg {
        background-image: url(../img/desktopImg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: .3;
        width: 100%;
        position: relative;
        z-index: -1;
    }

    .heroLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 90%;
        position: absolute;
        overflow: hidden;
    }

    .heroLogo h1 {
        margin: 30px 0;
    }

    #bigLogo {
        width: 220px;
        height: 200px;
        margin: 30px 0;
    }

    #blackarrow {
        width: 40px;
        
    }

    .copy>p {
        width: 80%;
        margin: 20px auto;
    }
    
    .button {
        font-size: 20px;
        color: white;
        background-color: #70BDDA;
        width: 150px;
        height: 20px;
        margin: 10px auto;
        padding: 10px 10px 15px 10px;
        border-radius: 4px;
        text-align: center;
    }

    .exSpaces {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 50px 0 0 0;
        padding-bottom: 50px;
        height: 600px;
        background-color: #F3F3F3;
        text-align: center;
    }

    #indexFig {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin-top: 50px;
    }

    figure img{
        width: 250px;
    }

    figure {
        margin: 20px;
    }

    h1 {
        margin: 100px 0 0 0;
    }

    h2 {
        width: 80%;
        margin: 30px auto;
    }

    footer {
        margin-top: 0px;
    }

    .copy {
        display: flex;
        flex-direction: column;
        margin: 75px 0 100px 0;
    }

    .mobileImg {
        max-width: 600px;
        margin: 20px 0;
    }

    .exhibition {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 50px 0;
        align-items: center;
    }
    
    .copyEx {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .exhibition p {
        margin: 0px;
        max-width: 600px;
    }

    .exhibition h2 {
        margin: 30px 0;
        max-width: 600px;
    }

    .copySpace {
        margin: 100px 0 0 0;
    }
}

@media (min-width: 1400px) {

    .exhibition h2 {
        max-width: 400px;
    }

    .exhibition {
        display: inline-block;
        height: 500px;
    }

    .mobileImg {
        float: right;
        margin: 0 0 0 50px;
    }
}

@media (max-width: 1470px) {

    #indexFig {
        width: 700px;
    }
}

@media (max-width: 640px){

    .exSpaces {
        display: none;
    }
}